@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --text: #03111f;
    --background: #f9fafb;
    --primary: #2f98f4;
    --secondary: #9dbfe1;
    --accent: #549be1;
  }
}

body {
  font-family: sans-serif;
  color: var(--text);
  background-color: var(--background);
}
